:root { 
    --default : #00C5B6 ;
    --default-hover : rgb(0, 167, 153) ;
    --gray : #777777 ;
    --gray-hover : #a0a0a0 ;
    --light : #F8F4F4 ;
    --light-hover : #ffffff ;
    --lighter : #EFECEC ;
    --lightness : #C6C0C0 ;
    --white : #fff ;
    --font : YekanBalkhMedium , tahoma , arial ;
    --font-bold : YekanBalkhHeavy ,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    --rounded : 5px ;
    --transition: all .3s ease  ;
    --all : "همه"
}

::-webkit-scrollbar{ 
    background : #eee ;
    outline: 0 ;
    width: 5px ;
    height: 5px ;
    border-radius: 0 ;
}

::-webkit-scrollbar-thumb {
    width: 5px ;
    height: 5px ;
    background: var(--default) ;  
}

body {
    direction: rtl ;
    text-align: right ;
    color : var(--gray) ;
    font-size : 14px ;
    font-family: var(--font) ;
    letter-spacing: -.5px ;
}

ul ,
ul > li ,
ol > li {
    list-style: none ;
    margin : 0 ;
    padding : 0 ;
}

a {
    color : var(--default) ;
    text-decoration: none ;
    transition: var(--transition) ;
    margin: 0 ;
    padding: 0 ;
}

a:hover {
    color : var(--gray) ;
}

h1,h2,h3,h4,h5,h6 {
    /* font-family: var(--font-bold) ; */
}

.columns-2{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.columns-3{
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3
}

header { 
    display : block ; 
}

header .logo ,
header .navbary ,
header .toolbar {
    display : flex ;
    align-items: center ;
    flex : 1 ; 
    height: 80px ;
    position: relative;
}

header .logo {
    color : var(--default) ;
    padding : 15px 0 0 0 
}
header .logo a {
    color : var(--default) !important
}

header .navbary ul {
    display : flex ; 
}

header .navbary-container .navbary .close { 
    display: none ;
}

header .navbary ul > li a{
    display: block ;
    padding: 0 10px ;
}


header .navbary ul > li > .childrens {
    display: none ;
    position: absolute ; 
    top : 75px ;
    right : 0 ;
    left :  0 ;
    background: var(--default) ; 
    z-index: 1 ;
    padding: 25px 0;
    z-index : 99 
}

header .navbary ul > li:hover > .childrens {
    display: flex  ;
}

header .navbary ul > li > .childrens:after {
    position: absolute ;
    top : -30px ;
    right : 0px ;
    height: 30px ;
    width : 100% ;
    content : "" ;
}

header .navbary ul > li > .childrens .child {
    flex : 1 1 33.333% ;
    border-left : 1px var(--lighter) solid ;
    padding :0 20px 0;
    text-align: center ;
}

header .navbary ul > li > .childrens .child:nth-of-type(3)
{
    border : 0  
}

header .navbary ul > li > .childrens .child img{
    position: relative;
    color : var(--white);
    height: 50px ;
}

header .navbary ul > li > .childrens .child .title {
    font-weight: 400 ;
    padding: 20px 0 10px;
    color : var(--white);
}

header .navbary ul > li > .childrens .child ol {
    margin: 0 ;
    padding : 0 
}

header .navbary ul > li > .childrens .child ol > li a {
    color : var(--white) ;
    font-size: 90% ;
    text-align: center ;
    padding: 8px 0 ;
}

header .navbary ul > li > .childrens .child .more {
    display: flex ;
    margin:  20px 0 0;
    align-items: center ;
    justify-content: center ;
    flex-direction: column;
}

header .navbary ul > li > .childrens .child .more a {
    color : var(--white);
    font-size: 90% ;
}
header .navbary ul > li > .childrens .child .more a:after{
    content : "\e92f" ;
    font-family: 'feather' !important ;
    padding: 0 10px;
    position: relative;
    top : 2px 
}

header .navbary ul > li > .childrens ol.columns-2 {
    background: linear-gradient(90deg, transparent 50% , var(--lighter), transparent 51%);
}

header .toolbar ul {
    display : flex ;
    flex : 1 ;
}

header .toolbar ul > li {
    flex : 1 ;
    padding : 5px ;
    margin : 5px ;
    text-align: center ;
    border-radius: var(--rounded) ;
    transition: var(--transition) ;
    position: relative;
}

header .toolbar ul > li a {
    display: block ;
}
header .toolbar ul > li a i {
    display: none ;
}

header .toolbar ul > li:nth-of-type(2){
    background-color: var(--default) ;
}

header .toolbar ul > li:nth-of-type(2) a {
    color : var(--white);
}

header .toolbar ul > li:nth-of-type(2):hover {
    background: var(--default-hover) ;
}

header .toolbar ul > li:nth-of-type(3):hover {
    background: var(--light) ;
}

header .toolbar ul > li:nth-of-type(3):hover a {
    color : var(--gray) 
}

header .toolbar .basket {
    display : block ;
    width : 50px ;
    text-align: center ;
    position: relative;
}

header .toolbar .basket:after {
    content : "" ;
    display : block ; 
    width : 1px ; 
    position: absolute ;
    top : 0 ;
    bottom : 0 ;
    right : 0 ;
    background: var(--light);
}


header .toolbar .basket a { 
    color : #000 ;
}

header .toolbar .basket a img{ 
    height: 20px ;
}

header .toolbar .basket a:after {
    content : attr(data-unit) ;
    position: absolute ; 
    top : -5px ;
    right: 5px ;
    font-size : 10px ;
    background: var(--default) ;
    color : var(--white);
    border-radius: 50% ;
    height: 15px ;
    min-width : 15px ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
}

.slider { 
    display: block ;
    overflow:  hidden ; 
    background: var(--light);
    box-shadow : 0 0 50px rgba(0,0,0,.05) inset ;
    position: relative ;
    max-height : 300px ;
}

.slider img {
    object-fit: fill ;
}

.slider .slick-arrow {
    position: absolute ;
    display: block ;
    z-index: 9 ;
    height : 45px ;
    width : 45px ;
    border-radius: 50% ;
    background:  #fff ;
    outline: 0 ;
    border : 0 ;
    top : calc(50% - 22px);
    overflow: hidden ;
    line-height: 10 ;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    transition: all .3s ease ;
    border : 0 none !important
}

.slider .slick-arrow:active{
    transform : scale(1.1) ; 
}

.slider .slick-arrow.slick-prev{
    left : 20px ;
}

.slider .slick-arrow.slick-next{
    right : 20px ;
}

.slider .slick-arrow:after {
    display: block;
    position: absolute;
    top: 23px;
    left: 10px;
    font-size: 25px;
    font-family: 'feather' !important;
    line-height: 0;
    font-weight: bold;
    color : var(--default) ;
}

.slider .slick-arrow.slick-prev:after{
    content : "\e92f"
}

.slider .slick-arrow.slick-next:after{
    content : "\e930"
}

.slider .slick-dots{
    display: flex ;
    position: absolute ;
    bottom: 20px ;
    left : 0 ;
    right : 0 ;
    align-items: center ;
    justify-content: center ;
}

.slider .slick-dots li {
    margin : 0 5px 
}

.slider .slick-dots button {
    display : block ;
    height : 13px;
    width : 13px ;
    line-height: 5 ;
    overflow: hidden ;
    border-radius: 50% ;
    outline: 0 ;
    border : 0 none ;
}

.slider .slick-dots li.slick-active button {
    background : var(--default) ;
}

.categories {
    display : block ; 
    position: relative ; 
    border-bottom: 1px var(--light) solid ; 
    padding : 20px ;
}

.categories > ul.nest-0 {
    display: flex ;
    justify-content: center ;
}

.categories > ul.nest-0 > li {
    display : block ;
    border-left : 1px var(--light) solid ;
    text-align: center ;
    width: 70px ;
    padding : 0 5px ;
}

.categories > ul.nest-0 > li:nth-last-child(1)
{
    border : none ;
}

.categories > ul.nest-0 > li > a {
    color : var(--gray) ;
    font-size : 80% ;
}

.categories > ul.nest-0 > li .icon {
    position: relative ;
    height: 30px ;
    display: block ;
    overflow: hidden ;
}

.categories > ul.nest-0 > li .icon i{
    font-size : 30px ;
}


.categories > ul.nest-0 > li .icon:after { 
    content : var(--all) ;
    display : flex ;
    align-items: center ;
    justify-content: center ; 
    position: absolute ;
    top : 0 ;
    bottom: 0 ;
    left: 0 ;
    right: 0 ;
    background: var(--white) ;
    border-bottom: 1px var(--light) solid ;
    opacity: 0 ;
    transition: var(--transition); 
}

.categories > ul.nest-0 > li:hover .icon:after {
    opacity: 1 ;
}
.categories > ul.nest-0 > li:hover > a {
    color : var(--default)
}

.categories > ul.nest-0 > li span.title {
    display: block ;
    padding: 10px 0 0;
}

.categories > ul.nest-0 > li .childrens {
    display: flex ; 
    display : none ;
    position: absolute ; 
    top : 100% ; 
    left : 0 ;
    right:  0 ;
    background: var(--default) ;
    flex-wrap: wrap;
    min-height: 100px ;
    z-index: 99 ;
}

.categories > ul.nest-0 > li:hover .childrens {
    display: block ;
}

.categories > ul.nest-0 > li:hover .childrens:before {
    content: "";
    top: -30px;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
    position: absolute;
}

.categories ul.nest-1 { 
    background: var(--white) ;
    width: 250px ;
    padding: 20px 10px;
}

.categories ul.nest-1 > li {
    display : block ;
    width: auto ;
    text-align: inherit ;
    border : none ;
    padding: 0 ;
    margin: 0 0 5px ;
}

.categories ul.nest-1 > li a {
    display : flex ;
    width: auto ;
    text-align: inherit ;
    border : none ;
    padding: 0 ;
    margin: 0 ;
    flex-direction: row ;
    align-items: center;
    color : var(--gray) ;
    position: relative;
}

.categories ul.nest-1 > li .icon {
    position: relative ;
    width : 30px ;
    height: auto;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    overflow: hidden ;
    border-left: 1px var(--lighter) solid ;
}

.categories ul.nest-1 > li .icon i {
    font-size : 14px ;
}

.categories ul.nest-1 > li .icon:after { 
    border-bottom: 0 none ;
}

.categories ul.nest-1 > li span.title{
    padding: 0 10px ;
    font-size: 90% ;
}

ul.nest-1 .has-childrens:after{
    content: "\e92f";
    font-family: 'feather' !important;
    display: block ;
}

.categories ul.nest-1 > li .icon:after {
    font-size: 80% ;
    background: var(--white) ;
}
 
.categories > ul.nest-0 > li:hover ul.nest-1 > li .icon:after {
    opacity: 0 ;
}
 
.categories > ul.nest-0 > li:hover ul.nest-1 > li:hover .icon:after {
    opacity: 1 ;
}

.categories ul.nest-1 .wrap { 
    display: none ; 
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 250px);
    bottom: 0;
    right: 250px;
    /* overflow-y: auto ; */
}

.categories .wrap ul.nest-2 {
    margin : 10px 0 ;
}

.categories .wrap ul.nest-2 li {
    overflow: hidden ;
    transition: var(--transition);
}

.categories .wrap ul.nest-2 li a{ 
    padding : 5px 20px ;
    color : var(--white) ;
    font-size: 90% ;
}

.categories .wrap ul.nest-2 li:hover { 
    background: rgba(255,255,255,.1);
}

.categories .wrap ul.nest-2 li:hover a {
    color : var(--gray)
}

.categories ul.nest-1 li:hover .wrap {
    display: block ;
}

.categories ul.nest-1 li a.has-childrens::before {
    display: block;
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    bottom: 0;
    width: 100px;
}

.search { 
    display: block ;
    background : var(--light) ;
    margin: 20px 0 ;
    padding : 10px ;
}

.search .dropdown-container {
    display: block ;
    margin: 5px 0 0 0 ;
    position: relative;
}

.search .dropdown-container .title {
    display : flex ; 
    align-items: center;
    position: relative;
    cursor: pointer;
}

.search .dropdown-container .title:after {
    content : "" ;
    display: block ;
    position: absolute ;
    top : 5px ;
    bottom : 5px ;
    left : 0 ;
    width : 1px ; 
    background : var(--default) ;
}

.search .dropdown-container .title:before { 
    content : "\e98f" ;
    font-family: 'feather';
    padding : 0 0 0 10px ;
}

.search .q {
    position: relative;
    display: block;
}

.search .q input[type=text] {
    display: block ; 
    border : 0 none ; 
    outline: 0 transparent;
    padding: 5px 40px 5px 5px ;
    width: 100% ;
    background: transparent ;
}

.search .q:after { 
    content : "\e9c1" ;
    font-family: 'feather';
    position: absolute ;
    top : 5px ;
    right : 5px ;
    display: block ;
}
.search .dropdown-container .drop{
    display : none;
    position: absolute ;
    top : calc( 100% + 15px ) ;
    left : 0 ; 
    right : -10px ; 
    background : var(--light)  ;
    padding: 10px 0 ;
    z-index: 99 ;
}

.search .dropdown-container .drop:after { 
    content : " " ;
    display: block ; 
    height: 15px ;
    top : -15px ; 
    left : 0 ;
    right : 0 ;
    position: absolute  ;
}

.search .dropdown-container:hover .drop {
    display: block ;
}

.search .drop label { 
    display: block ;
    padding : 5px 10px ; 
    margin:  0 ;
    font-size: 90% ;
    position: relative ;
    z-index: 1 ;
    transition: var(--transition) ;
}
.search .drop label input:after {
    content : "" ;
    position: absolute ; 
    top : 0 ;
    left : 0 ; 
    bottom : 0 ;
    right : 0 ;
    background: var(--lightness);
    z-index: -1 ;
    opacity: 0 ;
    transition: var(--transition) ;
}
.search .drop label input {
    height: 0 ;
    width: 0 ;
}
.search .drop label input:checked:after
{
    opacity: 1 ;
}
.search .drop label:hover { 
    background : var(--lighter)
}

.tagmount{
    display : block; 
    background-color: var(--default) ; 
    color : #fff ; 
    padding : 5px ;
    text-align: center ;
    margin : 0 ;
}

.filters{
    display: block;
    overflow: hidden ;
}

.filters .filter {
    display: block ;
    padding: 15px 5px 30px ;
    position: relative ;
}

.filters .filter:after {
    content : "";
    display: block ;
    height: 1px ;
    position: absolute ;
    bottom: 5px ;
    left: 30px ;
    right: 30px ;
    background : var(--light) ;
}

.filters .filter .filter-body label.checkbox {
    display: flex ;
    align-items: center ;
    padding: 5px 0 ;
    position: relative;
    cursor: pointer;
}

.filters .filter .filter-body label.checkbox input[type=checkbox] {
    display: block ;
    width: 0 ;
    height: 0 ;
} 

.filters .filter .filter-body label.checkbox input:after {
    display: block;
    content : "" ; 
    height: 15px;
    width: 15px ;
    background: var(--light) ;
    border : 1px var(--lighter) solid ; 
    position: absolute ;
    top : 7px ;
    left : 0 ;
    transition: var(--transition);
}

.filters .filter .filter-body label.checkbox input:checked:after {
    background: var(--default) !important ;
    border : var(--default) !important ;
}

.filters .filter .filter-body label.checkbox input:checked:before {
    position: absolute;
    z-index: 9;
    top: 5px;
    left: 1px;
    content: "\e92b";
    font-family: 'feather';
    color: #fff;
}

.filters .filter .title { 
    flex: 1 1 50%;
    display: flex;
    align-items: center;
}


.filters .filter .title .desc {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
}


.filters .filter .title .checkbox {
    flex : 1 1 50% ;
    height: 30px;
}

.filters .filter .title .icon {
    display: flex ;
    align-items: center;
    justify-content: flex-start;
    height : 25px ;
    width : 35px ;
    position: relative;
}

.filters .filter .title .icon:after {
    content : var(--all) ;
    display : flex ;
    align-items: center ;
    justify-content: center ; 
    position: absolute ;
    top : 0 ;
    bottom: 0 ;
    left: 0 ;
    right: 0 ;
    transition: var(--transition); 
    font-size: 90% ;
    background: var(--white) ;
    padding : 3px 0 0 0 ;
    color : var(--default) ;
    visibility: hidden ;
    opacity: 0 ;
}

.filters .filter .title:hover .icon:after {
    visibility: visible ;
    opacity: 1 ;
}

.filters .filter li.has-children > .title .desc:after {
    content : "\e92f" ;
    display: block ;
    font-family: 'feather';
    margin-right: 10px;
}

.filters .filter li.has-children ul.childrens {
    padding : 0 ;
    display: none ;
}

.filters .filter li.has-children.active > .title .desc:after{
    content : "\e92e"
}